<% flash.each do |key, value| %>

  <div class="alert <%= key == "notice" ? 'alert-primary' : 'alert-danger' %> alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= value %>
  </div>
<% end %>

<script>

setTimeout(function() {
  $('.alert-dismissible').slideUp('slow', function() {
    $(this).remove();
  });
}, 5000);


</script>


